/****** Object:  StoredProcedure [dbo].[pInsertRulesOutput]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pInsertRulesOutput]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[pInsertRulesOutput]
GO
/****** Object:  StoredProcedure [dbo].[pInsertRuleConfigV1]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pInsertRuleConfigV1]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[pInsertRuleConfigV1]
GO
/****** Object:  StoredProcedure [dbo].[pInsertGenericRuleConfigV1]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pInsertGenericRuleConfigV1]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[pInsertGenericRuleConfigV1]
GO
/****** Object:  StoredProcedure [dbo].[pInsertDataElement]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pInsertDataElement]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[pInsertDataElement]
GO
/****** Object:  StoredProcedure [dbo].[pInsertCompanyInfo]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pInsertCompanyInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[pInsertCompanyInfo]
GO
/****** Object:  StoredProcedure [dbo].[pGetStandardFieldDetails]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pGetStandardFieldDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[pGetStandardFieldDetails]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DataElement_IncomingFiles]') AND parent_object_id = OBJECT_ID(N'[dbo].[DataElement]'))
ALTER TABLE [dbo].[DataElement] DROP CONSTRAINT [FK_DataElement_IncomingFiles]
GO
/****** Object:  Table [dbo].[RulesOutput]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RulesOutput]') AND type in (N'U'))
DROP TABLE [dbo].[RulesOutput]
GO
/****** Object:  Table [dbo].[RulesConfigV1]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RulesConfigV1]') AND type in (N'U'))
DROP TABLE [dbo].[RulesConfigV1]
GO
/****** Object:  Table [dbo].[IncomingFiles]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IncomingFiles]') AND type in (N'U'))
DROP TABLE [dbo].[IncomingFiles]
GO
/****** Object:  Table [dbo].[GenericRulesConfigV1]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GenericRulesConfigV1]') AND type in (N'U'))
DROP TABLE [dbo].[GenericRulesConfigV1]
GO
/****** Object:  Table [dbo].[FormatRules]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormatRules]') AND type in (N'U'))
DROP TABLE [dbo].[FormatRules]
GO
/****** Object:  Table [dbo].[DataElement]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DataElement]') AND type in (N'U'))
DROP TABLE [dbo].[DataElement]
GO
/****** Object:  Table [dbo].[CompanyInfo]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CompanyInfo]') AND type in (N'U'))
DROP TABLE [dbo].[CompanyInfo]
GO
/****** Object:  Table [dbo].[CompanyHeaders]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CompanyHeaders]') AND type in (N'U'))
DROP TABLE [dbo].[CompanyHeaders]
GO
/****** Object:  Table [dbo].[AssetClass]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AssetClass]') AND type in (N'U'))
DROP TABLE [dbo].[AssetClass]
GO
/****** Object:  UserDefinedTableType [dbo].[DataElementType]    Script Date: 8/19/2017 2:31:48 PM ******/
IF  EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'DataElementType' AND ss.name = N'dbo')
DROP TYPE [dbo].[DataElementType]
GO
/****** Object:  UserDefinedTableType [dbo].[DataElementType]    Script Date: 8/19/2017 2:31:48 PM ******/
IF NOT EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'DataElementType' AND ss.name = N'dbo')
CREATE TYPE [dbo].[DataElementType] AS TABLE(
	[ElementType] [nvarchar](100) NULL,
	[ElementName] [nvarchar](100) NULL,
	[SubElementType] [nvarchar](100) NULL,
	[SubElementName] [nvarchar](100) NULL,
	[SequenceNumber] [nvarchar](100) NULL,
	[PageNumber] [nvarchar](100) NULL,
	[VendorFieldName] [nvarchar](100) NULL,
	[StandardFieldName] [nvarchar](100) NULL,
	[RowName] [nvarchar](100) NULL,
	[ColumnName] [nvarchar](100) NULL,
	[FieldValue] [nvarchar](100) NULL,
	[ComputedValue] [nvarchar](100) NULL,
	[StandardValue] [nvarchar](100) NULL,
	[Currency] [nvarchar](100) NULL,
	[Scale] [nvarchar](100) NULL,
	[Measurement] [nvarchar](100) NULL,
	[PageOccurrence] [nvarchar](100) NULL,
	[ValidationStatus] [nvarchar](100) NULL
)
GO
/****** Object:  Table [dbo].[AssetClass]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AssetClass]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AssetClass](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AssetClass] [nvarchar](100) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CompanyHeaders]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CompanyHeaders]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CompanyHeaders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyHeader] [nvarchar](500) NULL,
 CONSTRAINT [PK_CompanyHeaders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CompanyInfo]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CompanyInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CompanyInfo](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](150) NULL,
	[Header] [nvarchar](150) NULL,
 CONSTRAINT [PK_CompanyInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DataElement]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DataElement]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DataElement](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FileId] [bigint] NOT NULL,
	[Year] [nvarchar](50) NULL,
	[ElementType] [nvarchar](100) NULL,
	[ElementName] [nvarchar](100) NULL,
	[SubElementType] [nvarchar](100) NULL,
	[SubElementName] [nvarchar](100) NULL,
	[SequenceNumber] [nvarchar](100) NULL,
	[PageNumber] [nvarchar](100) NULL,
	[VendorFieldName] [nvarchar](100) NULL,
	[StandardFieldName] [nvarchar](100) NULL,
	[RowName] [nvarchar](100) NULL,
	[ColumnName] [nvarchar](100) NULL,
	[FieldValue] [nvarchar](100) NULL,
	[ComputedValue] [nvarchar](100) NULL,
	[StandardValue] [nvarchar](100) NULL,
	[Currency] [nvarchar](100) NULL,
	[Scale] [nvarchar](100) NULL,
	[Measurement] [nvarchar](100) NULL,
	[PageOccurrence] [nvarchar](100) NULL,
	[ValidationStatus] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[RecordDate] [datetime] NULL,
	[CompanyHeader] [nvarchar](250) NULL,
 CONSTRAINT [PK_DataElement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FormatRules]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormatRules]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FormatRules](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StandardFieldName] [nvarchar](150) NULL,
	[Format] [nvarchar](50) NULL,
 CONSTRAINT [PK_FormatRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[GenericRulesConfigV1]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GenericRulesConfigV1]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GenericRulesConfigV1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AssetClass] [varchar](max) NULL,
	[ElementType] [varchar](max) NULL,
	[ElementName] [varchar](max) NULL,
	[isAutoElementName] [bit] NULL,
	[RuleData] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IncomingFiles]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IncomingFiles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IncomingFiles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](150) NULL,
	[CompanyHeader] [nvarchar](150) NULL,
 CONSTRAINT [PK_IncomingFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RulesConfigV1]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RulesConfigV1]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RulesConfigV1](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RuleData] [nvarchar](max) NULL,
	[ElementName] [nvarchar](100) NULL,
	[ElementType] [nvarchar](100) NULL,
	[IsAutoElementName] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](50) NULL,
	[CompanyHeader] [nvarchar](150) NULL,
	[IsGenericRuleInherited] [bit] NULL,
 CONSTRAINT [PK_RulesConfigV1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RulesOutput]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RulesOutput]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RulesOutput](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyHeader] [nvarchar](550) NULL,
	[CompanyName] [nvarchar](150) NULL,
	[RuleId] [bigint] NULL,
	[ResultData] [text] NULL,
	[ExecutedDate] [datetime] NULL,
 CONSTRAINT [PK_RulesOutput] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[AssetClass] ON 

INSERT [dbo].[AssetClass] ([ID], [AssetClass]) VALUES (1, N'Auto')
INSERT [dbo].[AssetClass] ([ID], [AssetClass]) VALUES (2, N'SL')
INSERT [dbo].[AssetClass] ([ID], [AssetClass]) VALUES (3, N'Lease')
SET IDENTITY_INSERT [dbo].[AssetClass] OFF
SET IDENTITY_INSERT [dbo].[CompanyHeaders] ON 

INSERT [dbo].[CompanyHeaders] ([Id], [CompanyHeader]) VALUES (10004, N'Globaldrive Auto Receivables 2014-A')
SET IDENTITY_INSERT [dbo].[CompanyHeaders] OFF
SET IDENTITY_INSERT [dbo].[CompanyInfo] ON 

INSERT [dbo].[CompanyInfo] ([Id], [CompanyName], [Header]) VALUES (20002, N'Globaldrive Auto Receivables', N'Globaldrive Auto Receivables 2014-A')
SET IDENTITY_INSERT [dbo].[CompanyInfo] OFF
SET IDENTITY_INSERT [dbo].[DataElement] ON 

GO
SET IDENTITY_INSERT [dbo].[DataElement] OFF
SET IDENTITY_INSERT [dbo].[FormatRules] ON 

INSERT [dbo].[FormatRules] ([Id], [StandardFieldName], [Format]) VALUES (1, N'CollectionPeriodEndDate', N'YYYYMMDD')
INSERT [dbo].[FormatRules] ([Id], [StandardFieldName], [Format]) VALUES (2, N'LoanCount', N'INT')
INSERT [dbo].[FormatRules] ([Id], [StandardFieldName], [Format]) VALUES (3, N'BegBalance', N'DOUBLE')
SET IDENTITY_INSERT [dbo].[FormatRules] OFF
SET IDENTITY_INSERT [dbo].[IncomingFiles] ON 

INSERT [dbo].[IncomingFiles] ([Id], [FileName], [CompanyHeader]) VALUES (10014, N'Globaldrive Auto Receivables 2014-A_072017.xlsm', N'Globaldrive Auto Receivables 2014-A')
SET IDENTITY_INSERT [dbo].[IncomingFiles] OFF
SET IDENTITY_INSERT [dbo].[RulesConfigV1] ON 

SET IDENTITY_INSERT [dbo].[RulesConfigV1] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DataElement_IncomingFiles]') AND parent_object_id = OBJECT_ID(N'[dbo].[DataElement]'))
ALTER TABLE [dbo].[DataElement]  WITH CHECK ADD  CONSTRAINT [FK_DataElement_IncomingFiles] FOREIGN KEY([FileId])
REFERENCES [dbo].[IncomingFiles] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DataElement_IncomingFiles]') AND parent_object_id = OBJECT_ID(N'[dbo].[DataElement]'))
ALTER TABLE [dbo].[DataElement] CHECK CONSTRAINT [FK_DataElement_IncomingFiles]
GO
/****** Object:  StoredProcedure [dbo].[pGetStandardFieldDetails]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pGetStandardFieldDetails]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[pGetStandardFieldDetails] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[pGetStandardFieldDetails]
	@CompanyHeader NVARCHAR(250),
	@Year NVARCHAR(100)

AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT (ElementType + '~' + ElementName  + '~' +  StandardFieldName) as StandardFieldName, StandardValue FROM DataElement DE WHERE CompanyHeader = @CompanyHeader AND [Year] = @Year

END
GO
/****** Object:  StoredProcedure [dbo].[pInsertCompanyInfo]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pInsertCompanyInfo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[pInsertCompanyInfo] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[pInsertCompanyInfo]
	@CompanyName VARCHAR(100),
	@Header VARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	
	INSERT INTO [dbo].[CompanyInfo]
           ([CompanyName]
           ,[Header])
    VALUES
           (@CompanyName
           ,@Header)
END

GO
/****** Object:  StoredProcedure [dbo].[pInsertDataElement]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pInsertDataElement]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[pInsertDataElement] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[pInsertDataElement]
	@FileName VARCHAR(100),
	@CompanyHeader VARCHAR(300),
	@Year VARCHAR(50),
	@DataElement DataElementType READONLY
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @fileId BIGINT
	INSERT INTO IncomingFiles VALUES(@FileName, @CompanyHeader);
	SELECT @fileId = SCOPE_IDENTITY()

	INSERT INTO CompanyHeaders (CompanyHeader) VALUES (@CompanyHeader)

	INSERT INTO [dbo].[DataElement]
           ([FileId]
           ,[Year]
           ,[ElementType]
           ,[ElementName]
           ,[SubElementType]
           ,[SubElementName]
           ,[SequenceNumber]
           ,[PageNumber]
           ,[VendorFieldName]
           ,[StandardFieldName]
           ,[RowName]
           ,[ColumnName]
           ,[FieldValue]
           ,[ComputedValue]
           ,[StandardValue]
           ,[Currency]
           ,[Scale]
           ,[Measurement]
           ,[PageOccurrence]
           ,[ValidationStatus]
		   ,[CompanyHeader])
		   SELECT @fileId
		  ,@Year
		  ,ElementType
		  ,ElementName
		  ,SubElementType
		  ,SubElementName
		  ,SequenceNumber
		  ,PageNumber
		  ,VendorFieldName
		  ,StandardFieldName
		  ,RowName
		  ,ColumnName
		  ,FieldValue
		  ,ComputedValue
		  ,StandardValue
		  ,Currency
		  ,Scale
		  ,Measurement
		  ,PageOccurrence
		  ,ValidationStatus
		  ,@CompanyHeader
	 FROM @DataElement;

END

GO
/****** Object:  StoredProcedure [dbo].[pInsertGenericRuleConfigV1]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pInsertGenericRuleConfigV1]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[pInsertGenericRuleConfigV1] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[pInsertGenericRuleConfigV1]
    @AssetClass NVARCHAR(100),
	@RuleCondition NVARCHAR(MAX),
	@ElementName NVARCHAR(100),
	@ElementType NVARCHAR(100),
	@IsAutoElementName BIT

AS
BEGIN
	SET NOCOUNT ON;
	
	--DELETE RulesConfig;

	INSERT INTO [dbo].[GenericRulesConfigV1]
           (
		   [AssetClass]
           ,[RuleData]
           ,[ElementName]
           ,[ElementType]
           ,[IsAutoElementName]

           ,[CreatedDate]
           ,[CreatedUser])
     VALUES
           (
		   @AssetClass
	
           ,@RuleCondition
           ,@ElementName
           ,@ElementType
           ,@IsAutoElementName

           ,GETDATE()
           ,'admin')
END
GO
/****** Object:  StoredProcedure [dbo].[pInsertRuleConfigV1]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pInsertRuleConfigV1]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[pInsertRuleConfigV1] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[pInsertRuleConfigV1]
    @RuleData [nvarchar](max) NULL,
	@ElementName [nvarchar](100) NULL,
	@ElementType [nvarchar](100) NULL,
	@IsAutoElementName [bit] NULL,
	@CompanyName [nvarchar](50) NULL,
	@CompanyHeader [nvarchar](150) NULL,
	@IsGenericRuleInherited [bit] NULL

AS
BEGIN
	SET NOCOUNT ON;
	
	--DELETE RulesConfig;

	INSERT INTO dbo.RulesConfigV1
           (
		    RuleData,
			ElementName ,
			ElementType ,
			IsAutoElementName,
			CreatedDate ,
			CreatedUser,
			CompanyName ,
			CompanyHeader ,
			IsGenericRuleInherited )
     VALUES
           (
		   @RuleData,
           @ElementName,
           @ElementType,
           @IsAutoElementName,
		   GETDATE(),
           'admin',
		   @CompanyName,
		   @CompanyHeader,
		   @IsGenericRuleInherited
		   )
END
GO
/****** Object:  StoredProcedure [dbo].[pInsertRulesOutput]    Script Date: 8/19/2017 2:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pInsertRulesOutput]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[pInsertRulesOutput] AS' 
END
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[pInsertRulesOutput]
    @ResultData [nvarchar](max) NULL,
	@CompanyHeader [nvarchar](500) NULL,
	@CompanyName [nvarchar](500) NULL,
	@RuleId [int] NULL
AS
BEGIN
	SET NOCOUNT ON;
	
	
	INSERT INTO [dbo].[RulesOutput]
           ([CompanyHeader]
           ,[CompanyName]
           ,[RuleId]
           ,[ResultData]
           ,[ExecutedDate])
    VALUES
           (@CompanyHeader
           ,@CompanyName
           ,@RuleId
		   ,@ResultData
           ,GETDATE())
	
END
GO
