<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Server=SHANKI-PC\SQLEXPRESS;Database=HGarbSuiteNew;User Id=sa;Password=123;" />
    <add key="RuleDllSavePath" value="D:\Hydra v1.0 Files\RuleDlls" />
    <!--<add key="ConnectionString" value="Server=IN-LT-164149;Database=HGarbSuite;User Id=sa;Password=Welcome#123;"/>-->
  </appSettings>
</configuration>